.p-6 {
    padding: 6px;
}

.w-100 {
    width: 100%;
}

.mb-4 {
    margin-bottom: 4px;
}

.mr-4 {
    margin-right: 4px;
}

.mt-6 {
    margin-top: 6px;
}

.app__container {
    background-color: var(--white-color);
}
.category_body {
    padding: auto;
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
}

.text-center {
    font-size: 2rem;
}

.home__admin-header {
    font-size: 1.6rem;
}

.text-Cattgory {
    width: 100%;
    justify-content: center;
    display: flex;
}

.style-product-Detail {
    justify-content: center;
}

.tbody {
    width: 100%;
    justify-content: center;
    font-size: 1.4rem;
}

.dt {
    font-size: 1.9rem;
    width: 100%;
    justify-content: center;
    display: flex;
}

.datatable {
    font-size: 1.4rem;
    height: 50px;
}

.tbody_id {
    width: 250px;
    padding: 10px;
    font-size: 1.4rem;
}

.tbody_name {
    width: 500px;
    padding: 10px;
    font-size: 1.4rem;
}

.tbody_username,
.tbody_password,
.tbody_date,
.tbody_custname,
.tbody_phone,
.tbody_total,
.tbody_status {
    width: 100px;
}

.tbody_price,
.tbody_cate {
    width: 70px;
}

.tbody_action {
    width: 150px;
}

.tbody_img {
    width: 200px;
}

.data-name {
    line-height: 1.6;
}

.tbody_pagination {
    font-size: 1.4rem;
    text-decoration: none;
}

.tbody_pagination:hover {
    color: var(--primary-color);
}

.product-btn {
    border-radius: 6px;
}

.product-btn:hover {
    opacity: 0.9;
}

.product-detail__img {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    margin-left: 70px;
}
