.pwd__contents {
    background-color: var(--white-color);
    padding: 0px 28px 80px 28px;
}

.pwd__contents-header {
    padding: 24px 0;
    border-bottom: 1px solid rgb(229 231 235 / 1);
}

.pwd__content-des {
    font-size: 1.4rem;
}

.pwd__info {
    display: flex;
    margin-top: 32px;
}

.pwd__form {
    width: 80%;
}

.pwd__form-detail {
    display: flex;
    align-items: center;
    padding: 16px 0;
    margin: 10px 0;
}

.pwd__detail-label {
    display: flex;
    font-size: 1.4rem;
    width: 20%;
}

.pwd__detail-input {
    height: 36px;
    width: 80%;
}

/* btn hidden pwd */
.pwd-input-container {
    position: relative;
    width: 100%;
}

.toggle-password-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.detail-btn {
    width: calc(70% - 25px);
    height: 40px;
    margin-left: 126px;
    text-transform: uppercase;
}
