.profile__contents {
    background-color: #fff;
    padding: 0px 28px 80px 28px;
}

.profile__contents-header {
    padding: 24px 0;
    border-bottom: 1px solid rgb(229 231 235 / 1);
}

.content-heading {
    font-size: 2rem;
    font-weight: 500;
}

.content-des {
    margin-top: 4px;
    font-size: 1.4rem;
    color: var(--text-gray);
}

/* Profile__info */
.profile__info {
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 2rem;
    line-height: 1.75rem;
}

.profile__form {
    width: 70%;
    padding-left: 5rem;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.profile__form-detail {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    font-size: 1.4rem;
}

.detail-label {
    padding: 8px 12px;
    display: flex;
    width: 30%;
}

.detail-input {
    display: flex;
    align-content: center;
    flex: 1;
}

input.disabled {
    border: none;
    pointer-events: none;
}

.detail-switch {
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
    color: var(--primary-color);
}

.profile__btn {
    display: flex;
    justify-content: center;
    padding: 10px 5px;
}

.btn__update {
    justify-content: center;
    width: 80%;
}

button.disabled {
    background-color: #e5e7eb;
    color: #9ca3af;
    cursor: not-allowed;
}

/* ADD */
.profile__avatar {
    position: relative;
    top: 40px;
    right: 20px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    justify-content: center;
}

.avatar__upload {
    margin-top: 12px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.avatar__upload-img {
    justify-content: center;
    overflow: hidden;
    align-items: center;
    display: flex;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
    height: 10rem;
    width: 81px;
    height: 81px;
    border-radius: 50%;
}

.btn_push-avatar {
    cursor: pointer;
    opacity: 0.5;
    border: rgb(229, 231, 235);
    padding: 12px;
    border-style: solid;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.875rem;
    line-height: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 3.5rem;
    border-width: 1px;
    border-radius: 0.125rem;
}

.hide {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.avatar__upload-text {
    text-align: center;
    opacity: 0.5;
    font-weight: 400;
    margin-top: 12px;
    font-size: 1.53rem;
    width: 100%;
    margin-top: 0.75rem;
}

.text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.avatar__upload-btn {
    font-size: 1.8rem;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.avatar__upload-btn input[type='file'] {
    position: absolute;
    left: 31px;
    top: 31px;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.avatar__upload-btn span {
    pointer-events: none;
}

.edit {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

.birth-date,
.birth-month,
.birth-year {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
}

/* Định dạng kích thước và vị trí */
.birth-date {
    width: 120px;
}

.birth-month {
    width: 210px;
    margin-left: 10px;
}

.birth-year {
    width: 120px;
    margin-left: 10px;
}

.custom-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.custom-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
